.visually-hidden {
  display: none;
}


.advantages__item {
  text-align: center;

  background-color: #81b3d2;

  color: #ffffff;
}

.advantages__title {
  font-size: 16px;

  padding-top: 43px;
}

.advantages__number {
  font-size: 11px;
  padding-top: 18px;
}

.advantages__description {
  font-size: 12px;
  padding-top: 25px;
  padding-bottom: 45px;
}

.advantages__background-1 {
  margin: 0;
  padding: 0;
}



.advantages__item_nopic {
  height: 168px;
  background-color: #eeeeee;
  padding-top: 33px;
  padding-bottom: 33px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
