.site-list__item {


  padding-top: 21px;
  padding-bottom: 21px;
  margin-left: 0;

  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;



  background-color: #81b3d2;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
}

.sedona-logo {
  background-color: white;
  border: 0;

}
