.site-discription {
  text-align: center;
  .color(@black; @white);
  }

.site-discription__feature {

.font(16px; 26px);
 padding-top: 43px;
}


.site-discription__five-rasons {
  .font(10px; 26px);

  padding-top: 39px;

  color: #333333;
}
